<div ng-show="currentUser.role=='ADMIN'">
List of Blogs Waiting For Approval
<table class="table table-striped">
	<thead>
		<tr>
			<th>Title</th><th>Author</th><th>Posted On</th><th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="blog in blogsWaitingForApproval">
			<td>{{blog.blogTitle}}</td>
			<td>{{blog.postedBy.username}}</td>
			<td>{{blog.postedOn | date:'dd/MM/yyyy'}}</td>
			<td>
				 <div class="switch">
                 	<label>
                  		Disable
                  		<input type="checkbox" ng-model="blog.approved">
                 		<span class="lever"></span>
                  		Active
                  	</label>
                </div>
			</td>
		</tr>
	</tbody>
</table>
</div>

<div>
List of Blogs Approved
	<div class="container">
     	<div class="col s3" ng-repeat="blog in blogsApproved">
     		<div class="card">
   				 <div class="card-content text-center">
     				 <h3 class="card-title activator grey-text text-darken-4">{{blog.blogTitle}}</h3>
     				 <h4>{{blog.postedBy.username}}</h4>
     				 	
    			 </div>
    			<div class="card-reveal">
      				<h3 class="card-title grey-text text-darken-4">{{blog.blogTitle}}<i class="material-icons right">close</i></h3>
      					<h4>{{blog.postedBy.username}}</h4>
      					<button>View</button>
    			</div>
  </div>
     	</div>   
	</div>
</div>